.help-info-container 
{
    display: none;
	width: 500px;
	height: 420px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	margin-top:50px;
	text-align: left;
	vertical-align: middle;
	position: fixed;
    z-index: 99;
    overflow: hidden;
}

.help-info-cancle_btn,
.help-info-save_btn
{
	float:right;
	margin:5px 15px 0 0;
	border-radius: 8px;
}

.help-info-cancle_btn:hover,
.help-info-save_btn:hover
{
	background: #eaeaea;
}
.clear
{
	clear:both;
}

.help-info-close_btn {
    /*position: absolute;*/
    float: right;
    /*display: block;*/
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
    font-weight: bold;
    margin:5px 15px 0 0;
}
.help-info-close_btn:hover {
    background: #cccccc;
}
.help-info {
    /*position: absolute;*/
    float: right;
    /*display: block;*/
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
    font-weight: bold;
    margin:5px 15px 0 0;
}
.help-info:hover {
    background: #cccccc;
}

.help-info-text
{
	margin:30px;
}